{% extends "base.html" %}

{% block app_content %}
    <table class="table table-hover">
        <tr>
            <td width="256px"><img src="{{ user.avatar(256) }}"></td>
            <td>
                <h1>{{ _('User') }}: {{ user.username }}</h1>
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}
<!--                <p>{{ _('Last seen on') }}: {{ moment(user.last_seen).format('LLL') }}</p>-->
                <p>{{ _('Last seen on') }}: {{ moment(user.last_seen).fromNow() }}</p>
                {% endif %}
                <p>
                    {{ _('%(count)d followers', count=user.followers.count()) }},
                    {{ _('%(count)d following', count=user.followed.count()) }}
                </p>
                {% if user == current_user %}
                <p><a href="{{ url_for('main.edit_profile') }}">{{ _('Edit your profile') }}</a></p>
                {% elif not current_user.is_following(user) %}
                <p>
                    <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value=_('Follow'), class_='btn btn-default') }}
                    </form>
                </p>
                {% else %}
                <p>
                    <form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
                        {{ form.hidden_tag() }}
                        {{ form.submit(value=_('Unfollow'), class_='btn btn-default') }}
                    </form>
                </p>
                {% endif %}
            </td>
        </tr>
    </table>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
     <nav aria-label="Page navigation ">
        <ul class="pagination">
          <li class="page-item {% if not prev_url %} disabled{% endif %}">
            <a class="page-link" href="{{ prev_url or '#' }}" aria-label="Next">
              <span aria-hidden="true">&laquo;</span> {{ _('Previous results') }}
            </a>
          </li>

          <li class="page-item {% if not prev_url %} disabled{% endif %}">
            <a class="page-link " href="{{ next_url or '#' }}" aria-label="Previous">
              {{ _('Next results') }} <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
    </nav>
{% endblock %}
