<table class="table">
    <tr>
        <td width="64" style="border: 0px;"><img src="{{ user.avatar(64) }}"></td>
        <td style="border: 0px;">
                {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}
                <p>{{ _('Last seen on') }}:
                   {{ moment(user.last_seen).fromNow() }}</p>
                {% endif %}
                <p>{{ _('%(count)d followers', count=user.followers.count()) }},
                   {{ _('%(count)d following', count=user.followed.count()) }}
                </p>

                {% if user != current_user %}
                    <p>
                        <a class="btn btn-outline-primary btn-sm" href="{{ url_for('main.send_message',recipient=user.username) }}">
                            {{ _('Send message') }}
                        </a>
                    </p>
                    {% if not current_user.is_following(user) %}
                        <form action="{{ url_for('main.follow', username=user.username) }}" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value=_('Follow'), class_='btn btn-default btn-sm') }}
                        </form>
                    {% else %}
                        <form action="{{ url_for('main.unfollow', username=user.username) }}" method="post">
                            {{ form.hidden_tag() }}
                            {{ form.submit(value=_('Unfollow'), class_='btn btn-default btn-sm') }}
                        </form>
                    {% endif %}
                {% endif %}
                
        </td>
    </tr>
</table>